@import "../../style/scss/mixin.scss";
@include style-reset-a-li;

.products-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .product-card {
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 3px 1px 14px 0px lightgray;
    border-radius: 0.6em;
  }
  .product-image-container {
    display: flex;
    justify-content: center;
    img {
      height: 300px;
      width: 200px;

      border-radius: 0.4em;
    }
    .product-info {
      padding: 1em;
      text-align: center;
      h5 {
        font-size: 700;
      }
      .product-price {
        margin: 0;
        font-weight: 400;
        font-size: 1.2em;
      }
      .product-rating {
        color: gold;
        font-size: small;
      }
    }
  }
}
